html,
body {
    margin: 0;
    padding: 0;
}

.container_index {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( to bottom right, var(--Background2-), var(--Background-));
}

.section-img {
    display: flex;
    height: 100vh;
}

.section_modal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex 0.4s ease;
    position: relative;
    filter: blur(1.5px);
    transition: all 0.5s ease-in-out;
    .index_overlay {
        background-color: var(--DarkShadow-);
        width: 100%;
        height: 100%;
        position: absolute;
        transition: background-color 0.8s ease;
    }
    .index_content {
        z-index: 2;
        h1 {
            font-size: clamp(1rem, 2vw, 3rem);
        }
    }
}

.section_modal:hover {
    flex: 2;
    filter: blur(0px);
}

.section_modal:hover .index_overlay {
    background-color: var(--LightShadow-);
}

#sport {
    background-image: url(../images/img_basket.jpeg);
}

#detente {
    background-image: url(../images/appartement.jpeg);
}

#travail {
    background-image: url(../images/room.png);
}

#event {
    background-image: url(../images/concert.jpeg);
}

.section-txt {
    display: flex;
    flex-direction: column;
    margin: 9.375rem;
    h2 {
        text-align: center;
        font-size: clamp(1rem, 2vw, 3rem);
        color: var(--White-);
    }
    p {
        text-align: justify;
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: var(--White-);
    }
}

.section-txt a {
    transition: all 0.2s ease-in-out;
    color: var(--White-);
    a:hover {
        color: var(--Hover-);
    }
}