@import url(root.css);
@import url(font.css);
html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    background-color: var(--Background3-);
    display: flex;
    justify-content: center;
    align-items: start;
}

.reservation {
    background-color: var(--BackgroundTable2-);
    width: 60%;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: var(--White-);
    font-weight: bold;
    h1 {
        color: var(--White-);
        text-align: center;
        font-family: Texte;
    }
    p {
        color: var(--White-);
        display: flex;
        width: 90%;
        margin: 2% 5% 2% 5%;
        justify-content: center;
        font-family: Texte;
        font-size: 1rem;
    }
    .horaires {
        font-size: 0.75rem;
        color: var(--Black-);
        font-family: Texte;
    }
}