:root {
    --Transparent-: rgba(255, 255, 255, 0);
    --LightShadow-: rgba(0, 0, 0, 0.15);
    --Shadow-: rgba(0, 0, 0, 0.39);
    --DarkShadow-: rgba(0, 0, 0, 0.466);
    --White-: #FFFFFF;
    --Black-: #000000;
    --Grey-: #757575;
    --Background-: rgb(35, 35, 37);
    --BackgroundBody-: rgb(45, 45, 47);
    --Background2-: #33353d;
    --Background3-: #454750;
    --BackgroundTable1-: #5e6064;
    --BackgroundTable2-: #67696e;
    --BackgroundTableHover-: #56585c;
    --Button-: #55565d;
    --Hover-: rgb(56, 95, 131);
    --Base-: rgb(26, 53, 78);
    --TextFooter-: #96a2b2;
    --Color1-: #3b5998;
    --Color2-: #00aced;
    --Color3-: #ea4c89;
    --Color4-: #d8d7d7;
    --Red-: rgb(187, 8, 8);
    --Sport-: #da7e15;
    --Detente-: #d15bc1;
    --Travail-: rgb(16, 33, 49);
    --Evenement-: #5cc914;
}